altair
argon2-cffi
argon2-cffi-bindings
astor
asttokens
async-generator       
attrs
backcall
base58
black
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
cycler
debugpy
decorator
defusedxml
entrypoints
executing
fonttools
gitdb
GitPython
idna
imbalanced-learn
imblearn
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
packaging
pandas
pandocfilters
parso
pathspec
pickleshare
Pillow
platformdirs
prometheus-client
prompt-toolkit
protobuf
pure-eval
pyarrow
pycparser
pydeck
Pygments
Pympler
pyparsing
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
pywin32
pywinpty
pyzmq
requests
scikit-learn
scipy
seaborn
Send2Trash
six
smmap
stack-data
streamlit
terminado
testpath
threadpoolctl
toml
tomli
toolz
tornado
traitlets
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
webencodings
widgetsnbextension