altair
argon2-cffi
astor
async-generator
attrs
backcall
base58
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
cycler
debugpy
decorator
defusedxml
entrypoints
gitdb
GitPython
idna
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
pycparser
pydeck
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
requests
scipy
Send2Trash
six
scikit-learn
smmap
streamlit
terminado
testpath
threadpoolctl
toml
toolz
tornado
traitlets
tzlocal
urllib3
validators
watchdog
wcwidth
webencodings
widgetsnbextension
imbalanced-learn
